/* PC View */
.nav-links {
	text-align: center;
	font-size: 0;
	margin: 146px 0 164px;
	
	& > .page-numbers {
		color: #000;
		font-size: 20px;
		line-height: 1;
		text-decoration: none;
		display: inline-block;
		margin-right: 78px;
		position: relative;
		
		&.prev {
			margin-right: 48px
		}
		
		&.next {
			margin-left: -30px
		}
		
		&:before {
			content: "";
			display: block;
			width: 1px;
			height: 16px;
			background-color: #bdbdbd;
			transform: rotate(14deg);
			position: absolute;
			top: 0;
			bottom: 0;
			left: -36px;
			margin: auto;
		}
		
		&:first-child,
		&.next,
		&.prev + .page-numbers {
			&:before {
				content: unset;
			}
		}
		
		&:last-child {
			margin-right: 0;
		}
	}
}

.page-numbers.current {
	&:after {
		content: "";
		display: block;
	    width: 6px;
	    height: 6px;
	    background-color: #000;
	    border-radius: 50%;
	    position: absolute;
	    top: -22px;
	    left: 0;
	    right: 0;
	    margin: auto;
	}
}

/* SP View */
@media screen and (max-width:812px) {

	.nav-links {
		margin: 75px 0 82px;
		
		& > .page-numbers {
			font-size: 15px;
			margin-right: 38px;
			
			&.prev {
				margin-right: 24px
			}
			
			&.next {
				margin-left: -15px
			}
			
			&:before {
				height: 12px;
				left: -20px;
			}
			
			&:last-child {
				margin-right: 0;
			}
		}
	}
	
}