@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,500,700,900&subset=japanese');
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i,900,900i');

body {
	font-family: 'Noto Sans JP', sans-serif;
	color: #000;
	font-size: 14px;
	background-color: #f0f0f0;
}

.contentScroll-inactive {
	overflow-y: hidden;
}

.txt-fontAlphabet {
	font-family: 'Lato', sans-serif;
}


/* ----------【ヘッダー】---------- */

/* PC View */
.box-header {
	width: 100%;
	margin: 0 auto;
	padding: 56px 60px 62px;
	box-sizing: border-box;
	overflow: hidden;
}

.box-siteSymbol {
	float: left;
}

.box-siteLogo {
	display: inline-block;
	vertical-align: middle;
	margin-right: 36px;
	width: 62px;
}

.txt-outLineSite {
	display: inline-block;
	vertical-align: middle;
	line-height: 1.7;
	letter-spacing: .05em;
	font-size: 14px;
}

#hamburgerMenuInput {
	display: none;
}

.btn-hamburgerMenu {
	display: none;
}

.box-siteLogo-hamburger {
	display: none;
}

.list-globalNavigation {
	float: right;
	padding-top: 48px;
	position: relative;
}

.item-globalNavigation {
	margin-left: 38px;
	display: inline-block;
	vertical-align: top;
	position: relative;
	
	&:nth-child(1) {
		margin-left: 0;
	}
}

.btn-globalNavigation,
.btn-globalNavigationArchive {
	text-decoration: none;
	color: #000;
	padding: 10px 0;
	letter-spacing: .05em;
	font-weight: 700;
	transition-property: opacity;
	transition-duration: .3s;
	transition-timing-function: ease;
	font-size: 14px;
	
	&:hover {
		opacity: .5;
	}
	
	&:focus,
	&:visited {
		color: #000;
	}
}

.list-globalNavigationArchive {
	position: absolute;
	top: calc( 1em + 12px );
	left: 0;
	opacity: 0;
	pointer-events: none;
	transition-property: opacity;
	transition-duration: .3s;
	transition-timing-function: ease;
}

.item-globalNavigation:hover > .list-globalNavigationArchive {
	opacity: 1;
	pointer-events: auto;
}

.item-globalNavigationArchive {
	margin-top: 3px;
	
	&:nth-child(1) {
		margin-top: 0;
	}
}

@keyframes transformIcon {
	0% {
		transform: scaleX(1) scaleY(1);
	}
	50% {
		transform: scaleX(2.5) scaleY(.7);
	}
	100% {
		transform: scaleX(1) scaleY(1);
	}
}

.ico-globalNavigation {
	display: block;
	width: 6px;
	height: 6px;
	background-color: #000;
	border-radius: 50%;
	position: absolute;
	top: 32px;
	transition-property: left, opacity;
	transition-timing-function: ease-in-out;
	transition-duration: .4s;
}

.area-home .ico-globalNavigation,
.item-globalNavigation-home:hover~.ico-globalNavigation {
	left: 15px;
}
.area-column-detail .ico-globalNavigation,
.area-archive .ico-globalNavigation,
.item-globalNavigation-archive:hover~.ico-globalNavigation {
	left: 104px;
}

.area-about .ico-globalNavigation,
.item-globalNavigation-about:hover~.ico-globalNavigation {
	left: 195px;
}

.item-globalNavigation-home:hover~.ico-globalNavigation,
.item-globalNavigation-archive:hover~.ico-globalNavigation,
.item-globalNavigation-about:hover~.ico-globalNavigation {
	opacity: .4;
	animation-name: transformIcon;
	animation-duration: .4s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: both;
}

.area-home .item-globalNavigation-home:hover~.ico-globalNavigation,
.area-archive .item-globalNavigation-archive:hover~.ico-globalNavigation,
.area-column-detail .item-globalNavigation-archive:hover~.ico-globalNavigation,
.area-about .item-globalNavigation-about:hover~.ico-globalNavigation {
	animation-name: none;
}

.btn-globalNavigationArchive {
	padding: 4px 0;
	font-size: 13px;
	font-weight: 400;
	display: inline-block;
	letter-spacing: .05em;
	white-space: nowrap;
}

.box-headerMeta {
	display: none;
}

/* SP View */
@media screen and (max-width:812px) {

.box-header {
	padding: 21px 25px;
	min-width: unset;
}

.box-siteLogo {
	margin-right: 16px;
	width: 31px;
	vertical-align: top;
	margin-top: 5px;
}

.txt-outLineSite {
	font-size: 9px;
}

.btn-hamburgerMenu {
	float: right;
	display: block;
	width: 22px;
	height: 18px;
	position: relative;
	z-index: 3;
	margin-top: 10px;
	
	& > span,
	&::before,
	&::after {
		content: "";
		display: block;
		width: 100%;
		height: 1px;
		background-color: #000;
		position: absolute;
		transition-property: transform, opacity, background-color;
		transition-duration: .2s;
		transition-timing-function: ease-in-out;
		transform-origin: right;
	}
	
	& > span {
		top: 0;
		bottom: 0;
		margin: auto;
	}
	
	&::before {
		top: 0;
	}
	
	&::after {
		bottom: 0;
	}
}

#hamburgerMenuInput:checked~.btn-hamburgerMenu {
	& > span,
	&::before,
	&::after {
		background-color: #fff;
	}
	
	& > span {
		transform: scaleX(0);
		opacity: 0;
	}
	
	&::before,
	&::after {
		width: 110%;
	}
	
	&::before {
		transform: rotate(-45deg);
	}
	
	&::after {
		transform: rotate(45deg);
	}
}

.box-globalNavigation {
	opacity: 0;
	pointer-events: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 110%;
	background-color: #1e1e1e;
	z-index: 2;
	transition-property: opacity;
	transition-duration: .2s;
	transition-timing-function: ease-in-out;
}

#hamburgerMenuInput:checked~.box-globalNavigation {
	opacity: 1;
	pointer-events: auto;
	overflow-x: hidden;
}

#hamburgerMenuInput:checked~.box-globalNavigation > .box-siteLogo-hamburger {
	display: block;
	width: 31px;
	margin: 26px 0 0 25px;
}

.list-globalNavigation {
	padding-top: 28px;
	float: none;
}

.item-globalNavigation {
	margin: 0;
	display: block;
	padding: 0 21px;
	box-sizing: border-box;
	
	&:before {
		content: "→";
		display: block;
		width: 1em;
		height: 1em;
		position: absolute;
		right: 24px;
		top: 0;
		bottom: 0;
		margin: auto;
		font-size: 18px;
		color: #fff;
	}
}

.btn-globalNavigation {
	color: #fff!important;
	padding: 21px 0;
	font-size: 18px;
	display: block;
	font-weight: 400;
}

.list-globalNavigationArchive {
	display: none;
}

.ico-globalNavigation {
	display: none;
}

.box-headerMeta {
	display: block;
	margin-top: 77px;
	padding: 0 21px 60px;
	box-sizing: border-box;
	color: #fff;
}

.data-headerMetaSns {
	margin-bottom: 22px;
}

.ttl-headerMetaSns {
	font-size: 12px;
	font-weight: 600;
	position: relative;
	display: inline-block;
	padding-right: 28px;
	margin-right: 12px;
	vertical-align: middle;
	
	&:before {
		content: "";
		display: block;
		width: 15px;
		height: 1px;
		background-color: #fff;
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		margin: auto;
	}
	
}

.box-headerMetaSns {
	display: inline-block;
	vertical-align: middle;
	font-size: 0;
}

.ico-headerMetaSns {
	display: inline-block;
	margin-right: 11px;
}

.box-headerMetaNavigation {
	margin-bottom: 14px;
}

.box-headerMetaNavigation > a {
	color: #fff;
	line-height: 1;
	text-decoration: none;
	
	&:hover,
	&:focus,
	&:visited {
		color: #fff;
	}
}

}

@media screen and (max-width:320px) {

.box-siteLogo {
	margin-right: 12px;
	width: 26px;
}

.txt-outLineSite {
	letter-spacing: 0em;
	line-height: 1.5;
}

}


/* ----------【フッター】---------- */

/* PC View */
.box-footer {
	width: 100%;
	margin: 0 auto;
	padding: 0 64px 50px;
    box-sizing: border-box;
}

.list-column+.box-footer {
	margin-top: 146px;
}

.data-footerSns {
	vertical-align: middle;
	line-height: 1;
	margin-bottom: 30px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
}

.ttl-footerSns {
	font-size: 12px;
	font-weight: 700;
	line-height: 1;
	display: inline-block;
	position: relative;
	padding-right: 40px;
	margin-right: 16px;
	box-sizing: border-box;
	
	&::after {
		content: "";
		display: block;
		width: 28px;
		height: 1px;
		background-color: #000;
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		margin: auto;
	}
}

.box-footerSns {
	font-size: 0;
}

.btn-sns {
	display: inline-block;
	
	& > img {
		width: 20px;
		transition-property: opacity;
		transition-duration: .5s;
		transition-timing-function: ease;
	}
	
	&:hover > img {
		opacity: .7;
	}
}

.btn-sns-instagram {
	margin-right: 11px;
}

.txt-copyright {
	text-align: right;
	letter-spacing: .05em;
}

.box-footerGlobalNavigation {
	font-size: 12px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.list-footerGlobalNavigation {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-right: 76px;
}

.item-footerGlobalNavigation {
	margin-left: 32px;
	
	&:first-child {
		margin-left: 0;
	}
}

.btn-footerGlobalNavigation {
	text-decoration: none;
	line-height: 1;
	color: #000;
	transition-property: opacity;
	transition-duration: .3s;
	transition-timing-function: ease;
	
	&:hover,
	&:visited {
		color: #000;
	}
	
	&:hover {
		opacity: .7;
	}
}

/* SP View */
@media screen and (max-width:812px) {

.box-footer {
	min-width: unset;
    padding: 0 0 32px 0;
}

.list-column+.box-footer {
	margin-top: 96px;
}

.data-footerSns {
	margin-bottom: 28px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
}

.ttl-footerSns {
	padding: 0 0 22px 0;
	margin: 0 0 10px 0;
	
	&::after {
		content: "";
		display: block;
		width: 1px;
		height: 14px;
		position: absolute;
		top: unset;
		bottom: 0;
		right: 0;
		left: 0;
	}
}

.box-footerGlobalNavigation {
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.list-footerGlobalNavigation {
	margin: 0 0 16px 0;
}

.btn-sns > img {
	width: 16px;
}

.txt-copyright {
	text-align: center;
	width: 100%;
	display: block;
}

}