<header class="box-header">
	<div class="box-siteSymbol">
		<a class="box-siteLogo" href="#"><img src="/img/common/img-logoQ.png" alt="陶芸作家見習いであるテオドール・ボワイエが運営するメディア『q』のロゴ" width="62" height="113" /></a><!-- /.box-siteLogo -->
		
		<p class="txt-outLineSite txt-fontAlphabet">I have questions about Kutani.<br>
			Dummy I have questions about Kutani.<br>
			I have questions about Kutani.<br>
			Dummy I have questions about Kutani.</p><!-- /.txt-outLineSite -->
	</div><!-- /.box-siteSymbol -->
	
	<nav class="box-globalNavigation">
		
		<ul class="list-globalNavigation">
			<li class="item-globalNavigation">
				<a class="btn-globalNavigation txt-fontAlphabet" href="#">Home</a><!-- /.btn-globalNavigation -->
			</li><!-- /.btn-globalNavigation -->
			
			<li class="item-globalNavigation">
				<a class="btn-globalNavigation txt-fontAlphabet" href="#">Archive</a><!-- /.btn-globalNavigation -->
				
				<ul class="list-globalNavigationArchive">
					<li class="item-globalNavigationArchive">
						<a class="btn-globalNavigationArchive txt-fontAlphabet" href="#">culture</a><!-- /.btn-globalNavigationArchive -->
					</li><!-- /.btn-globalNavigationArchive -->
					
					<li class="item-globalNavigationArchive">
						<a class="btn-globalNavigationArchive txt-fontAlphabet" href="#">news</a><!-- /.btn-globalNavigationArchive -->
					</li><!-- /.btn-globalNavigationArchive -->
					
					<li class="item-globalNavigationArchive">
						<a class="btn-globalNavigationArchive txt-fontAlphabet" href="#">product</a><!-- /.btn-globalNavigationArchive -->
					</li><!-- /.btn-globalNavigationArchive -->
				</ul><!-- /.list-globalNavigationArchive -->
			</li><!-- /.btn-globalNavigation -->
			
			<li class="item-globalNavigation">
				<a class="btn-globalNavigation txt-fontAlphabet" href="#">About</a><!-- /.btn-globalNavigation -->
			</li><!-- /.btn-globalNavigation -->
		</ul><!-- /.list-globalNavigation -->
		
	</nav><!-- /.box-globalNavigation -->
</header><!-- /.box-header -->