<header class="box-header">
	<a class="box-siteLogo" href="#">ロゴ</a><!-- /.box-siteLogo -->
	
	<input id="hamburgerMenuInput" type="checkbox">
	
	<label class="btn-hamburgerMenu" for="hamburgerMenuInput"><span>メニュー</span></label>
	
	<nav class="box-hamburgerMenu">
		
		<ul class="list-hamburgerMenu">
			<li class="btn-hamburgerMenu">
				<a class="btn-hamburgerMenuInr" href="#">トップ</a><!-- /.btn-hamburgerMenuInr -->
			</li><!-- /.btn-hamburgerMenu -->
			
			<li class="btn-hamburgerMenu">
				<a class="btn-hamburgerMenuInr" href="#">アバウト</a><!-- /.btn-hamburgerMenuInr -->
			</li><!-- /.btn-hamburgerMenu -->
			
			<li class="box-hamburgerMenuColumn">
				<p class="ttl-hamburgerMenuColumn">コラム</p><!-- /.ttl-hamburgerMenuColumn -->
				<ul class="list-hamburgerMenuColumn">
					<li class="btn-hamburgerMenuColumn">
						<a class="btn-hamburgerMenuColumnInr" href="#">全コラム一覧</a><!-- /.btn-hamburgerMenuColumnInr -->
					</li><!-- /.btn-hamburgerMenuColumn -->
					
					<li class="btn-hamburgerMenuColumn">
						<a class="btn-hamburgerMenuColumnInr" href="#">カルチャー</a><!-- /.btn-hamburgerMenuColumnInr -->
					</li><!-- /.btn-hamburgerMenuColumn -->
					
					<li class="btn-hamburgerMenuColumn">
						<a class="btn-hamburgerMenuColumnInr" href="#">ニュース</a><!-- /.btn-hamburgerMenuColumnInr -->
					</li><!-- /.btn-hamburgerMenuColumn -->
					
					<li class="btn-hamburgerMenuColumn">
						<a class="btn-hamburgerMenuColumnInr" href="#">プロダクト</a><!-- /.btn-hamburgerMenuColumnInr -->
					</li><!-- /.btn-hamburgerMenuColumn -->
				</ul><!-- /.list-hamburgerMenuColumn -->
			</li><!-- /.box-hamburgerMenuColumn -->
		</ul><!-- /.list-hamburgerMenu -->
		
	</nav><!-- /.box-hamburgerMenu -->
</header><!-- /.box-header -->