<header class="box-header">
	<div class="box-siteSymbol">
		<a class="box-siteLogo" href="#"><img src="/img/common/img-logoQ.png" alt="陶芸作家見習いであるテオドール・ボワイエが運営するWEBメディア『q』のロゴ" width="100%" height="" /></a><!-- /.box-siteLogo -->
		
		<p class="txt-outLineSite txt-fontAlphabet">I have questions about Kutani.<br>
			Dummy I have questions about Kutani.<br>
			I have questions about Kutani.<br>
			Dummy I have questions about Kutani.</p><!-- /.txt-outLineSite -->
	</div><!-- /.box-siteSymbol -->
	
	<input id="hamburgerMenuInput" type="checkbox">
		
	<label class="btn-hamburgerMenu" for="hamburgerMenuInput"><span></span></label>
	
	<nav class="box-globalNavigation">
		
		<a class="box-siteLogo-hamburger" href="#"><img src="/img/common/img-logoQ-white.png" alt="陶芸作家見習いであるテオドール・ボワイエが運営するWEBメディア『q』のロゴ" width="100%" height="" /></a><!-- /.box-siteLogo -->
		
		<div class="list-globalNavigation">
			<div class="item-globalNavigation item-globalNavigation-home">
				<a class="btn-globalNavigation txt-fontAlphabet" href="#">Home</a><!-- /.btn-globalNavigation -->
			</div><!-- /.btn-globalNavigation -->
			
			<div class="item-globalNavigation item-globalNavigation-archive">
				<a class="btn-globalNavigation txt-fontAlphabet" href="#">Archive</a><!-- /.btn-globalNavigation -->
				
				<ul class="list-globalNavigationArchive">
					<div class="item-globalNavigationArchive">
						<a class="btn-globalNavigationArchive txt-fontAlphabet" href="#">Culture</a><!-- /.btn-globalNavigationArchive -->
					</div><!-- /.btn-globalNavigationArchive -->
					
					<div class="item-globalNavigationArchive">
						<a class="btn-globalNavigationArchive txt-fontAlphabet" href="#">News</a><!-- /.btn-globalNavigationArchive -->
					</div><!-- /.btn-globalNavigationArchive -->
					
					<div class="item-globalNavigationArchive">
						<a class="btn-globalNavigationArchive txt-fontAlphabet" href="#">Product</a><!-- /.btn-globalNavigationArchive -->
					</div><!-- /.btn-globalNavigationArchive -->
				</ul><!-- /.list-globalNavigationArchive -->
			</div><!-- /.btn-globalNavigation -->
			
			<div class="item-globalNavigation item-globalNavigation-about">
				<a class="btn-globalNavigation txt-fontAlphabet" href="#">About</a><!-- /.btn-globalNavigation -->
			</div><!-- /.btn-globalNavigation -->
			
			<span class="ico-globalNavigation"></span><!-- /.ico-globalNavigation -->
		</div><!-- /.list-globalNavigation -->
		
		<div class="box-headerMeta">
			<dl class="data-headerMetaSns">
				<dt class="ttl-headerMetaSns txt-fontAlphabet">Follow</dt>
				<dd class="box-headerMetaSns">
					<a class="ico-headerMetaSns"><img src="/img/common/ico-headerMetaSns-instagram.png" alt="Instagramをフォローする" width="16" height="" /></a>
					<a class="ico-headerMetaSns"><img src="/img/common/ico-headerMetaSns-facebook.png" alt="Facebookをフォローする" width="16" height="" /></a>
				</dd><!-- /.data-headerMetaSns -->
			</dl><!-- /.box-headerMetaSns -->
			
			<nav class="box-headerMetaNavigation"><a class="txt-headerMetaNavigation-policy txt-fontAlphabet" href="#">Privacy policy</a></nav>
			
			<p class="txt-copyright txt-fontAlphabet">Copyright©2018 q. All Rights Reserved.</p>
		</div><!-- /.box-headerMeta -->

	</nav><!-- /.box-globalNavigation -->
</header><!-- /.box-header -->