# 以下ははgit管理しない
_view/
node_modules/
**/*.jpg
**/*.png
**/*.gif
**/*.svg
**/*.ico
_wp/conf/
_wp/logs/
_wp/app/public/index.php
_wp/app/public/license.txt
_wp/app/public/local-adminer-SJ-73ucKm.php
_wp/app/public/readme.html
_wp/app/public/wp-activate.php
_wp/app/public/wp-admin/
_wp/app/public/wp-blog-header.php
_wp/app/public/wp-comments-post.php
_wp/app/public/wp-config-sample.php
_wp/app/public/wp-config.php
_wp/app/public/wp-cron.php
_wp/app/public/wp-includes/
_wp/app/public/wp-links-opml.php
_wp/app/public/wp-load.php
_wp/app/public/wp-login.php
_wp/app/public/wp-mail.php
_wp/app/public/wp-settings.php
_wp/app/public/wp-signup.php
_wp/app/public/wp-trackback.php
_wp/app/public/xmlrpc.php
_wp/app/public/wp-content/index.php
_wp/app/public/wp-content/languages
_wp/app/public/wp-content/upgrade
_wp/app/public/wp-content/uploads
_wp/app/public/wp-content/plugins
_wp/app/public/wp-content/themes/index.php
_wp/app/public/wp-content/themes/twentyfifteen
_wp/app/public/wp-content/themes/twentyseventeen
_wp/app/public/wp-content/themes/twentysixteen
_wp/app/sql