<% for (var i = 0; i < loopNum; i++) { %>
<li class="item-column box-ScrollAnimaton">
	<a class="box-column" href="#">
		<div class="img-column">
			<span class="img-columnInner"><img src="https://placehold.jp/1200x720.png" alt="thumbnail of title from here / タイトル入りますのサムネイル" width="100%" height=""></span><!-- /.img-columnInner -->
			<p class="txt-columnCategory txt-fontAlphabet">product</p>
		</div><!-- /.img-column -->
		<p class="ttl-column ttl-column-english txt-fontAlphabet">title from heretitle from heretitle from here</p>
		<p class="ttl-column ttl-column-japanese txt-fontAlphabet">タイトル入りますタイトル入りますタイトル入ります</p>
		<p class="txt-columnDate">11  /  8  /  2016</p>
	</a><!-- /.box-column -->
</li><!-- /.item-column -->
<% } %>