/* PC View */
.list-column {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}

/* SP View */
@media screen and (max-width:812px) {

.list-column {
	width: calc(100% - 40px);
	max-width: unset;
	padding: 0;
	display: flex;
	flex-flow: column;
}

}