<div class="box-columnHead">
	<h1 class="ttl-columnHead">
		<span class="txt-columnHead txt-columnHead-english txt-fontAlphabet"><%= ttlColumnEnglish %></span>
		<span class="txt-columnHead txt-columnHead-japanese"><%= ttlColumnJapanese %></span>
	</h1><!-- /.ttl-columnHead -->
	
	<div class="box-columnHeadMeta">
	
		<p class="txt-columnHeadMetaDate"><%= txtColumnDate %></p>
		<ul class="post-categories">
			<li>
				<a href="http://senchawan.local/category/product/" rel="category tag"><%= txtColumnCategory %></a>
			</li>
		</ul>
	
	</div><!-- /.box-columnHeadMeta -->
</div><!-- /.box-columnHead -->
