<div class="box-columnHead">
	<h1 class="ttl-columnHead">
		<span class="txt-columnHead txt-columnHead-english"><%= ttlColumnEnglish %></span>
		<span class="txt-columnHead txt-columnHead-japanese"><%= ttlColumnJapanese %></span>
	</h1><!-- /.ttl-columnHead -->
	
	<p class="txt-columnDate"><%= txtColumnDate %></p>
	<p class="txt-columnCategory"><%= txtColumnCategory %></p>
</div><!-- /.box-columnHead -->
