<nav class="wp-categoryNavigation">
	<ul class="list-categoryNavigation">
		<% for (var key in navCategory) { %>
		<li class="btn-categoryNavigation">
			<a href="<%= navCategory[key].linkCategory %>"><%= navCategory[key].txtCategory %></a>
		</li>
		<% } %>
	</ul><!-- /.list-categoryNavigation -->
</nav><!-- /.wp-categoryNavigation -->