<nav class="wp-columnNavigation">
	<ul class="list-columnNavigation">
		<% for (var key in navCategory) { %>
		<li class="btn-columnNavigation txt-fontAlphabet">
			<a href="<%= navCategory[key].linkCategory %>"><%= navCategory[key].txtCategory %></a>
		</li>
		<% } %>
	</ul><!-- /.list-columnNavigation -->
</nav><!-- /.wp-columnNavigation -->