<ul class="list-breadcrumb">
	<li class="box-breadcrumb"><a class="txt-breadcrumb" href="#">top</a></li>
	<li class="box-breadcrumb"><a class="txt-breadcrumb" href="#">about</a></li>
	<li class="box-breadcrumb"><span class="txt-breadcrumb txt-breadcrumb-inactive">テキスト入りますテキスト入りますテキスト入りますテキスト入ります</span></li>
</ul><!-- /.list-breadcrumb -->