<ul class="list-listBreadcrumb">
<% for (var key in listBreadcrumb) { %>
	<% if( key == listBreadcrumb.length - 1 ){ %>
	<li class="box-listBreadcrumb"><span class="txt-listBreadcrumb txt-listBreadcrumb-inactive"><%= listBreadcrumb[key].txtBreadcrumb %></span></li>
	<% } else if( key !== listBreadcrumb.length - 1 ){ %>
	<li class="box-listBreadcrumb"><a class="txt-listBreadcrumb" href="<%= listBreadcrumb[key].linkBreadcrumb %>"><%= listBreadcrumb[key].txtBreadcrumb %></a></li>
	<% } %>
<% } %>
</ul><!-- /.list-listBreadcrumb -->