<% if (typeof txtDetail === 'undefined') { var txtDetail = ''; } %>
<% if (typeof linkDetail === 'undefined') { var linkDetail = ''; } %>
<a class="btn-detail txt-fontAlphabet" href="<% if(linkDetail !== "" ) { %><%= linkDetail %><% } else { %>#<% } %>"><% if(txtDetail !== "" ) { %><%= txtDetail %><% } else { %>詳細を見る<% } %></a>