.btn-detail {
	display: inline-block;
	padding-right: 24px;
	position: relative;
	font-size: 14px;
	line-height: 1;
	color: #000;
	text-decoration: none;
	transition-property: opacity;
	transition-duration: .3s;
	transition-timing-function: ease-in-out;
	
	&::after {
		content: "";
		display: block;
		background: url("/img/common/ico_link.png") 0 0 no-repeat;
		background-size: 18px;
		width: 18px;
		height: 11px;
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		margin: auto;
		transition-property: transform;
		transition-duration: .3s;
		transition-timing-function: ease-in-out;
	}
	
	&:hover {
		opacity: .8;
		
		&::after {
			transform: translateX(-3px);
		}
	}
}