<ul class="list-tag">
<% for (var key in listTag) { %>
	<li class="item-tag">
		<a href="<%= listTag[key].linkListTag %>"><%= listTag[key].txtListTag %></a>
	</li><!-- /.txt-tag -->
<% } %>
</ul><!-- /.list-tag -->