/* PC View */
.list-tag {
	width: 68%;
	margin: 100px auto 160px;
	line-height: 1.6;
}

.item-tag {
	display: inline-block;
	margin-right: 20px;
	
	&::before {
		content: "#";
		display: inline-block;
		margin-right: 2px;
	}
	
	& > a {
		color: #000;
		text-decoration: none;
	}
}

/* SP View */
@media screen and (max-width:812px) {

	.list-tag {
		width: calc(100% - 40px);
		margin: 55px auto 120px;
	}
	
	.item-tag {
		display: inline-block;
		margin-right: 20px;
		
		&::before {
			content: "#";
			display: inline-block;
			margin-right: 2px;
		}
		
		& > a {
			color: #000;
			text-decoration: none;
		}
	}
	
}