@import "./../../template/column-detail/box-columnHead/box-columnHead";
@import "./../../template/column-detail/list-tag/list-tag";
@import "./../../template/ttl-pageHead/ttl-pageHead";
@import "./../../template/list-column/list-column";
@import "./../../template/list-column/box-column/box-column";

/* PC View */
.box-content-column-detail {
    width: calc(100% - 120px);
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.box-content-column-detail+.box-footer {
	margin-top: 146px;
}

.img-columnMainThumbnail {
	margin-bottom: 74px;
}

.txt-columnMain {
	width: 68%;
	margin: 0 auto;
	text-align: justify;
}

.box-columnMain p + h2 {
	margin-top: 20px;
}

.box-columnMain h2 {
	font-size: 22px;
	font-weight: 500;
	line-height: 1.5;
	margin-bottom: 30px;
}

.box-columnMain p {
	font-size: 14px;
	line-height: 1.8;
	margin-bottom: 30px;
}

.wp-block-image {
	margin: 0 0 30px 0;
	text-align: center;
}

/* sp View */
@media screen and (max-width:812px) {
	.box-content-column-detail {
		width: 100%;
		max-width: unset;
		min-width: unset;
		padding: 0;
	}
	
	.img-columnMainThumbnail {
		margin-bottom: 40px;
	}
	
	.txt-columnMain {
		width: 100%;
	}
	
	.box-columnMain p {
		width: calc(100% - 40px);
		margin: 0 auto 20px;
	}
	
	.box-columnMain h2 {
		width: calc(100% - 40px);
		font-size: 20px;
		margin: 0 auto 20px;
	}
	
	.box-columnMain p + h2 {
		margin-top: 20px;
	}

	.box-content-column-detail+.box-footer {
		margin-top: 96px;
	}
}