@import "./../../template/btn-detail/btn-detail";
@import "./../../template/list-column/list-column";
@import "./../../template/list-column/box-column/box-column";

/* PC View */
.box-content-home {
	padding-bottom: 238px;
}

/* SP View */
@media screen and (max-width:812px) {

.box-content-home {
	padding-bottom: 55px;
}

}

/* ----------【メインビジュアル】---------- */

/* PC View - Large */
.wp-mainVisual {
	width: 100%;
	max-width: 2340px;
	min-width: 980px;
	margin: 0 auto;
	transition-property: background-size;
	transition-duration: .3s;
	transition-timing-function: ease-in-out;
	background: url("/img/home/bg-mainvisualDummy.jpg") center top no-repeat;
	background-size: 100%;
}

.box-mainVisual {
	max-width: 2128px;
	min-width: 980px;
	margin: 0 auto;
	padding: 0 64px;
	box-sizing: border-box;
}

.box-mainVisualInner {
	display: block;
	text-decoration: none;
	transition-property: opacity;
	transition-duration: .3s;
	transition-timing-function: ease-in-out;
	
	&:hover {
		opacity: .8;
	}
}

@keyframes fadeInMainVisual {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.img-mainVisual {
	display: block;
	position: relative;
	
	&:before {
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		background-color: #ececec;
		position: absolute;
		top: 0;
		left: 0;
	}
	
	& > img {
		opacity: 0;
		animation-name: fadeInMainVisual;
		animation-duration: .5s;
		animation-delay: 1s;
		animation-timing-function: ease;
		animation-fill-mode: both;
	}
}

.box-articleInfo {
	margin-top: -40px;
	padding: 80px 0 70px 72px;
	box-sizing: border-box;
	position: relative;
	opacity: 0;
	transition-property: opacity;
	transition-duration: .6s;
	transition-delay: .3s;
	transition-timing-function: ease;
	transform-origin: top;
	
	&.box-ScrollAnimaton-active {
		opacity: 1;
	}
	
	&:before {
		content: "";
		display: block;
		width: 1px;
		height: 100%;
		background-color: #000;
		position: absolute;
		top: 0;
		left: 32px;
		transform: scaleY(0);
		transition-property: transform;
		transition-duration: .6s;
		transition-delay: .3s;
		transition-timing-function: ease;
		transform-origin: top;
	}
	
	&.box-ScrollAnimaton-active:before {
		transform: scaleY(1);
	}
}

.txt-mainVisualCategory {
	line-height: 20px;
	display: inline-block;
	padding: 0 16px;
	box-sizing: border-box;
	background-color: #000;
	color: #fff;
	font-size: 14px;
}

.ttl-mainVisual-english,
.ttl-mainVisual-japanese {
	line-height: 1;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #000;
	text-decoration: none;
}

.ttl-mainVisual-english {
	font-size: 20px;
	margin-top: 18px;
}

.ttl-mainVisual-japanese {
	font-size: 14px;
	margin-top: 15px;
}

.txt-mainVisualDate {
	line-height: 1;
	font-size: 14px;
	margin-top: 24px;
	letter-spacing: .1em;
	color: #000;
}

/* PC View - Small */
@media screen and (max-width:2328px) {

.wp-mainVisual {
	width: 100%;
	background: url("/img/home/bg-mainvisualDummy.jpg") center top no-repeat;
	background-size: 105%;
}

}

/* SP View */
@media screen and (max-width:812px) {

.wp-mainVisual {
	width: 100%;
	max-width: unset;
	min-width: unset;
	padding: 0;
	background: none;
}

.box-mainVisual {
	max-width: unset;
	min-width: unset;
	padding: 0;
}

.box-articleInfo {
	margin-top: -20px;
	padding: 42px 20px 38px 40px;
	box-sizing: border-box;
	position: relative;
	
	&:before {
		content: "";
		display: block;
		width: 1px;
		height: 100%;
		background-color: #000;
		position: absolute;
		top: 0;
		left: 20px;
	}
}

.txt-mainVisualCategory {
	line-height: 20px;
	display: inline-block;
	padding: 0 16px;
	box-sizing: border-box;
	background-color: #000;
	color: #fff;
	font-size: 14px;
}

.ttl-mainVisual-english,
.ttl-mainVisual-japanese {
	line-height: 1;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.ttl-mainVisual-english {
	font-size: 20px;
	margin-top: 18px;
}

.ttl-mainVisual-japanese {
	font-size: 14px;
	margin-top: 15px;
}

.txt-mainVisualDate {
	line-height: 1;
	font-size: 14px;
	margin-top: 24px;
	letter-spacing: .1em;
}

}

/* ----------【記事リスト】---------- */
.list-column {
	margin-top: 40px;
}

.wp-column:nth-child(1) .box-column {
	position: relative;
	
	&::after {
		content: "";
		display: block;
		width: 1px;
		height: 185px;
		background-color: #000;
		position: absolute;
		left: 32px;
		bottom: -250px;
		transform: scaleY(0);
		transition-property: transform;
		transition-duration: .6s;
		transition-delay: 1s;
		transition-timing-function: ease;
		transform-origin: top;
	}
}

.box-ScrollAnimaton-active.wp-column:nth-child(1) .box-column {
	
	&::after {
		transform: scaleY(1);
	}
}

/* SP View */
@media screen and (max-width:812px) {

.wp-column:nth-child(1) .box-column {
	
	&::after {
		display: none;
	}
}

}

/* ----------【Moreボタン】---------- */

/* PC View */
.wp-columnDetail {
	max-width: 2128px;
	min-width: 980px;
	margin: 58px auto 0;
	padding: 0 64px;
	box-sizing: border-box;
	text-align: right;
}

/* SP View */
@media screen and (max-width:812px) {

.wp-columnDetail {
	max-width: unset;
	min-width: unset;
	margin: 40px auto 0;
	padding: 0 20px;
	text-align: left;
}

}

/* ----------【アバウト】---------- */

/* PC View */
.box-about {
	max-width: 2128px;
	min-width: 980px;
	margin: 224px auto 0;
	padding: 0 64px;
	box-sizing: border-box;
}

.box-aboutInner {
	display: flex;
	justify-content: space-between;
}

.ttl-About {
	font-size: 30px;
	letter-spacing: .05em;
	line-height: 1;
	margin-bottom: 30px;
}

.txt-about {
	font-size: 14px;
	line-height: 1.4;
}

.txt-about-english {
	margin-bottom: 24px;
}

.txt-about-japanese {
	margin-bottom: 40px;
}

.img-about {
	width: 60%;
	overflow-y: hidden;
}

/* SP View */
@media screen and (max-width:812px) {

.box-about {
	max-width: unset;
	min-width: unset;
	margin: 64px auto 0;
	padding: 0 20px;
}

.box-aboutInner {
	flex-flow: column;
}

.ttl-About {
	font-size: 20px;
}

.txt-about {
	font-size: 11px;
}

.txt-about-english {
	margin-bottom: 16px;
}

.txt-about-japanese {
	margin-bottom: 24px;
}

.img-about {
	width: 100%;
	margin-top: 40px;
}

}